<html>
  <head>
    <!-- 
      Use this to change the text that appears on the tab in the browser when you're on a page
    -->
    <title>Slide 4</title>

    <!-- 
      Link JQuery, D3 and necessary script + CSS for this template.
    -->

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>

    <script src="http://d3js.org/d3.v4.min.js"></script>

    <script src="scripts/slide4/slide4.js"></script>

    <link rel="stylesheet" href="scripts/slide4/slide4styles.css" />
  </head>
  <body>
    This is webpage for slide 4.
  </body>
</html>
