<html>
  <head></head>
    <!-- 
      Use this to change the text that appears on the tab in the browser when you're on a page
    -->
    <title>Slide 3</title>

    <!-- 
      Link JQuery, D3 and necessary script + CSS for this template.
    -->

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>

    <script src="http://d3js.org/d3.v4.min.js"></script>

    <script src="scripts/slide3/slide3.js"></script>

    <link rel="stylesheet" href="scripts/slide3/slide3styles.css" />
  </head>
  <body>
    <!-- Script that retrieves the data from server and puts into the console -->
    <script>
      getDataFromServer();
    </script>
  </body>
</html>
