/* Style sheet for slide 6 */

.bar {
    fill: #B8BBFF;
}

.bar:hover {
   fill: #8D48CD;
}
  
.title {
  font: bold 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis {
  font: 10px sans-serif;
}
  
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
  
.x.axis path {
  display: none;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #000000; /* Black */
}

button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #38d11a; /* green */
  color: white;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider {
  margin-top: 20px;
  -webkit-appearance: none;
  width: 200px;
  height: 4px; 
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-style: groove;
}